body {
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

input, button {
    width: 80%;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

button {
    cursor: pointer;
    margin-top: 25px;
    font-weight: 700;
    background-color: #9b59b6;
    color: #FFFFFF;
}

button:hover {
    background-color: #8e44ad;
}

span {
    font-weight: 700;
}

span.error {
    color: red;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #9b59b6, #3498db, #8e44ad);
}

.container-login, .container-register, .container-list-search {
    width: 40%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #FFFFFF;;
    padding: 10px;
}

.container-login h2 {
    color: #8e44ad;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.container-login p {
    color: #8e44ad;
    font-weight: 700;
    font-size: 22px;
    margin-top: 0px;
}

.register-data label {
    align-self: start;
    margin-left: 8%;
}

.container-list {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 8px;
    width: 50%;
    margin-top: 30px;
    align-self: start;
}

.user-table {
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 8px;
}

.user-table th, .user-table td {
    text-align: center;
}